aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
anyio==3.4.0
appdirs==1.4.4
argcomplete==1.12.3
argh==0.26.2
asn1crypto==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.3.0
attrs==19.3.0
autograd==1.3
autopep8==1.4.4
Babel==2.8.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
bcrypt==3.1.7
beautifulsoup4==4.8.2
bitarray==1.2.1
bkcharts==0.2
bleach==3.1.0
bokeh==1.4.0
boto==2.49.0
boto3==1.20.23
botocore==1.23.23
Bottleneck==1.3.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.9
Click==7.0
cloudpickle==1.3.0
clyent==1.2.2
cmake==3.21.2
coco-ash==2.0.2
coco-assistant==0.4.0
colorama==0.4.3
colour-science==0.3.15
commentjson==0.9.0
commonmark==0.9.1
comtypes==1.1.7
conda==4.11.0
conda-build==3.18.11
conda-package-handling==1.6.0
conda-verify==3.4.2
contextlib2==0.6.0.post1
coverage==5.5
cryptography==2.8
cycler==0.10.0
Cython==0.29.15
cytoolz==0.10.1
dask==2.11.0
decorator==4.4.1
decorators==2.0.7
defusedxml==0.6.0
Deprecated==1.2.13
diff-match-patch==20181111
dill==0.3.2
distributed==2.11.0
distro==1.6.0
dnspython==2.1.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
eventlet==0.33.0
execnet==1.9.0
fastcache==1.1.0
fiftyone==0.14.2
fiftyone-brain==0.7.2
fiftyone-db==0.3.0
fiftyone-desktop==0.19.1
filelock==3.0.12
flake8==3.7.9
Flask==1.1.1
fonttools==4.28.5
frozenlist==1.2.0
fsspec==0.6.2
future==0.18.2
geomdl==5.3.1
gevent==1.4.0
gitdb==4.0.7
GitPython==3.1.18
glob2==0.7
greenlet==0.4.15
h11==0.12.0
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
httpcore==0.14.3
httpx==0.21.1
hypothesis==5.5.4
idna==2.8
imageio==2.16.2
imagesize==1.2.0
imantics==0.1.12
imgviz==1.4.1
importlib-metadata==1.5.0
install==1.3.4
intervaltree==3.0.2
ipykernel==5.1.4
ipython==7.12.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.14.1
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.14.1
json5==0.9.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyterlab==1.2.6
jupyterlab-server==1.0.6
kaleido==0.2.1
keyring==21.1.0
kiwisolver==1.1.0
labelme==4.6.0
lark-parser==0.7.8
lazy-object-proxy==1.4.3
libarchive-c==2.8
livereload==2.6.3
llvmlite==0.31.0
locket==0.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.5.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkdocs-material-extensions==1.0.3
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==4.0.1
mongoengine==0.20.0
more-itertools==8.2.0
motor==2.5.1
mpmath==1.1.0
msgpack==0.6.1
multidict==5.2.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==5.0.4
ndjson==0.3.1
networkx==2.4
nltk==3.4.5
nose==1.3.7
notebook==6.0.3
numba==0.48.0
numexpr==2.7.1
numpy==1.21.2
numpydoc==0.9.2
olefile==0.46
opencv-python==4.5.5.64
opencv-python-headless==4.5.4.60
openpyxl==3.0.3
packaging==20.1
pandas==1.3.5
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.5.2
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patool==1.12
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pkginfo==1.5.0.1
plotly==4.14.3
pluggy==0.13.1
ply==3.11
pprintpp==0.4.0
prometheus-client==0.7.1
prompt-toolkit==3.0.3
psutil==5.6.7
py==1.8.1
pyassimp==4.1.4
pybind11==2.7.1
pycocotools==2.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.5
pydocstyle==4.0.1
pyflakes==2.1.1
pyglet==1.5.16
Pygments==2.5.2
pyiges==0.2.1
pylint==2.4.4
pymongo==3.12.3
PyNaCl==1.3.0
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pyparsing==2.4.6
pypng==0.0.18
pyreadline==2.1
pyrsistent==0.15.7
PySocks==1.7.1
pytest==5.3.5
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-cov==2.12.1
pytest-doctestplus==0.5.0
pytest-forked==1.3.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
pytest-rerunfailures==10.1
pytest-xdist==2.3.0
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.7
pytz==2019.3
pytz-deprecation-shim==0.1.0.post0
pyvista==0.33.2
PyWavefront==1.3.3
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3
pyzmq==18.1.1
QDarkStyle==2.8
QtAwesome==0.6.1
qtconsole==4.6.0
QtPy==1.9.0
recommonmark==0.7.1
requests==2.26.0
retrying==1.3.3
rfc3986==1.5.0
rope==0.16.0
Rtree==0.9.3
ruamel-yaml==0.15.87
s3transfer==0.5.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.7.3
scooby==0.5.11
seaborn==0.11.2
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.5
sourceinspect==0.0.4
Sphinx==2.4.0
sphinx-autobuild==2020.9.1
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.2.0
spyder==4.0.1
spyder-kernels==1.8.1
SQLAlchemy==1.3.13
statsmodels==0.11.0
sympy==1.5.1
tables==3.6.1
tabulate==0.8.9
taichi==0.9.0
taichi-glsl==0.0.12
taichi-three==0.0.4
tblib==1.6.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
Theano==1.0.5
toml==0.10.2
toolz==0.10.0
torch==1.10.1
torchvision==0.11.2
tornado==6.0.3
tqdm==4.62.3
traitlets==4.3.3
trimesh==3.9.16
typed-ast==1.4.3
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
ujson==1.35
unicodecsv==0.14.1
universal-analytics-python3==1.1.1
urllib3==1.25.8
voxel51-eta==0.6.1
vtk==9.1.0
watchdog==0.10.2
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.2
wslink==1.3.1
xlrd==1.2.0
XlsxWriter==1.2.7
xlwings==0.17.1
xlwt==1.3.0
xmljson==0.2.1
xmltodict==0.12.0
yapf==0.31.0
yarl==1.7.2
you-get==0.4.1545
youtube-dl==2021.6.6
zict==1.0.0
zipp==2.2.0
